<div fxFlex fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center " class="container">


    <!-- content here -->
    <div fxLayout=" wrap">

        <div fxFlex="100" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
            <!-- material card here -->
            <h1>
                {{this.store.cvData.profile.firstname}}
                <span class="text-primary">{{this.store.cvData.profile.lastname}}</span>
            </h1>

            <h2 class="text-primary">
                {{this.store.cvData.profile.title}}
            </h2>

            <div class="text-secondary sub-h">
                {{this.store.cvData.profile.city}} {{this.store.cvData.profile.phone}}
                <a [href]="this.store.cvData.profile.mail" class='text-primary'> {{this.store.cvData.profile.mail}}</a>
            </div>
        </div>

    </div>

    <div>
    </div>