<div fxFlex fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center " class="container">


    <!-- content here -->
    <div fxLayout=" wrap">
        <div fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
            <!-- material cntent here -->
            <h1>
                EDUCATION
            </h1>
            <mat-card *ngFor="let ex of store.cvData.educations" class="card-element card-text">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"
                        [style.background-image]="'url(' + ex.picture + ')'"></div>
                    <mat-card-title>{{ex.university}}</mat-card-title>
                    <mat-card-subtitle>
                        {{ex.degree}}

                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                    <p class="p-list"> {{ex.title}}</p>
                    <p class="p-list">
                        <mat-icon aria-hidden="false" aria-label="date icon">date_range</mat-icon>
                        <span class="text-primary" style="margin-right: 10px;">
                            {{ex.period}}
                        </span>
                        {{ex.city}}
                    </p>
                    



                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
            </mat-card>
        </div>

    </div>

    <div>
    </div>