.card-education {
    margin: .3rem;
    // width: 70vw;
    display: inline-flex;
    flex-flow: column wrap;
}

.example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    background-position: center center;
}